
.img1{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #BF382C;
}

.capa{
    position: relative;
    height: auto;
    width: auto;   

}
.P1 {
    position:absolute;
     width: 100%;
     height: 44px;
     left: 157px;
     top: 440px;

      font-weight: 400;
      font-size: clamp(1.5em, 1em + 1.5vw, 2.5em);
      line-height: 44px;

      font-family: 'Inter', sans-serif;
      font-style: normal;
      text-align: justify;

      color: #3DF2E0;
  }
  .P2{
position: absolute;
width: 448px;
height: 64px;
left: 157px;
top: 550px;

font-weight: 400;
font-size: clamp(1em, 1em + 0.5vw, 1.3em);
line-height: 27px;

font-family: 'Inter', sans-serif;
font-style: normal;
text-align: justify;

color: #FFFFFF;
  }

#component{
    width: 100vw;
    height: 100vh;
}

.Projeto{
    width: 100%;
    height: 100vh;
    background-color: #F2522E;
}

.Titulo{
    font-family: 'Telex', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    color: #81B69D;
}

.img2{
    width: 65%;
    height: 60%;
    background: #3DF2E0;
}

.Time{
    background: #FFFFFF;
}

.Ntime{
font-family: 'Telex', sans-serif;
font-weight: 400;
font-size: 180%;
line-height: 110%;
text-align: center;
color: #81B69D;
}

@media screen and (max-width: 500px) {
    .P1 {
        position:absolute;
        width: 380px;
         height: 44px;
         left: 60px;
         top: 100px;
      }
      .Projeto{
        width: 100%;
        height: 300px;
        background-color: #F2522E;
    }
    .P2{
        position: absolute;
        width: 200px;
        height: 64px;
        left: 60px;
        top: 150px;
          }
          .Titulo{
            font-size: 48px;

        }
        
        .img2{
            width: 75%;
            height: 60%;
            background: #3DF2E0;
        }
        .Footer{
            background-color: #0889A6;
            border-style: dashed;
            border-color: transparent;
        }
        .text{
            font-family: 'Telex', sans-serif;
            position: relative;
            padding-left: 8%;
            text-align: left;
            
            
        }
        .B{
            width: 22%;
            border-style: groove;
            border: transparent;
            font-size: small;
            overflow-wrap: break-word;
        }
        .Q{
            float:right;
            right: 20%;
        }
        .link{
            font-size: small;
            color: #000;
        }
        
        
    }